.bpharmcontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sem-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.semspecific-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
