.notecard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  background-color: white;
  margin: 20px 0px;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.notesname h3 {
  font-family: "Montserrat", sans-serif;
  margin: 10px;
}

img {
  width: 30px;
}

@media (max-width: 800px) {
  .right-div .notecard {
    width: 82%;
    margin: 10px 0;
  }

  .notesname h3 {
    font-family: "Montserrat", sans-serif;
    margin: 10px;
    font-size: 12px;
  }

  img {
    width: 20px;
  }
}
