@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap");

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 6px;
  height: 100px;
}

::-webkit-scrollbar-track {
  background-color: #fdf0e0;
  border-radius: 10px;
}

.App {
  display: flex;
  height: 100vh;
}

.App .left-div {
  position: relative;
  width: 60%;
  overflow: hidden;
}

.left-div img {
  height: 100%;
  width: 100%;
  filter: brightness(40%);
}

.left-div .text-container {
  position: absolute;
  top: 42%;
  margin: 0 100px;
}

.text-container .main-heading {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 86px;
}

.text-container .sub-heading {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  margin: 0 5px;
}

.text-container a {
  text-decoration: none;
}

.text-container .bn54 {
  position: relative;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 45px;
  width: 130px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.6);
  margin: 50px 5px;
  text-decoration: none;
}

.bn54 .bn54span {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.bn54:hover {
  animation: bn54rotate 0.7s ease-in-out both;
}

.bn54:hover .bn54span {
  animation: bn54storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes bn54rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes bn54storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

/* RIGHT DIV CSS ONLY AFTER THIS */
/* ================================================================================================ */

.App .right-div {
  width: 40%;
  background-color: #ecf2ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-div .nav-group {
  display: flex;
  justify-content: space-around;
}

.right-div .nav-group a {
  text-decoration: none;
  margin: 30px 75px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
}

/* Mobile View */
/* =================================================== */

@media (max-width: 1200px) {
  .left-div .text-container {
    position: absolute;
    top: 42%;
    margin: 0px 50px;
  }

  .text-container .main-heading {
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 75px;
  }

  .text-container .sub-heading {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    margin: 0 5px;
  }
}

@media (max-width: 1051px) {
  .left-div .text-container {
    position: absolute;
    top: 42%;
  }

  .text-container .main-heading {
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 65px;
  }

  .text-container .sub-heading {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    margin: 0 5px;
  }
}

@media (max-width: 800px) {
  .App .left-div {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .left-div .text-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 5%;
    margin: 0;
  }

  .text-container .main-heading {
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 40px;
  }

  .text-container .sub-heading {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin: 0 5px;
  }

  .text-container .bn54 {
    display: none;
  }

  .App .right-div {
    display: none;
  }

  .left-div .book-container {
    margin: 50px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-div .books {
    width: 90%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fefcf3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    overflow-y: scroll;
    box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.5);
  }

  .left-div .search-bar {
    padding: 0px 10px;
    position: relative;
    width: 85%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    background-color: white;
  }

  .left-div .search-bar .input-box {
    width: 100%;
    height: 5px;
    padding: 25px;
    border-radius: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
  }

  .leftdiv .search-bar .imgsearch {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #ecf2ff;
    border-radius: 6px;
    height: 100px;
  }
}
