@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  background-color: #8fbdd3;
  animation: slide-down 0.7s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.modalCont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.about {
  width: 50%;
}

.about h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  color: white;
  font-size: 80px;
}

.about p {
  font-family: "Playfair Display", serif;
  font-style: italic;
  color: white;
  width: 70%;
  font-size: 20px;
}

.imagediv img {
  width: 320px;
  height: 370px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 50px;
}

.links {
  height: 100px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links ul {
  display: flex;
  padding: 0;
  margin: 0;
  width: 300px;
  justify-content: space-around;
}

.links ul a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links a img {
  width: 30px;
  transition: 0.5s;
}

.links a img:hover {
  width: 35px;
  transition: 0.5s;
}

.closebtn button {
  position: absolute;
  outline: none;
  background: none;
  bottom: 5%;
  background-color: #8fbdd3;
  border: none;
  padding: 0;
  cursor: pointer;
}

.closebtn img {
  width: 20px;
}

@media (max-width: 800px) {
  .modalCont {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .imagediv img {
    width: 170px;
    height: 200px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 50px;
  }

  .about {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    color: white;
    font-size: 40px;
  }

  .about p {
    font-family: "Playfair Display", serif;
    font-style: italic;
    color: white;
    width: 70%;
    font-size: 12px;
  }

  .closebtn button {
    position: absolute;
    left: 50%;
    margin-left: 10px;
    transform: translateX(-50%);
    outline: none;
    background: none;
    bottom: 5%;
    background-color: #8fbdd3;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  .closebtn img {
    width: 20px;
  }
}
